.container{
  margin-top: 15px;
}


.envoie{
  background: #7acd47;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
  
}
.recu{
  margin-top: 10px;
  margin-bottom: 10px; 
  background: #95c2fd;
  border-radius: 15px;
  
}
.messagerie{
  border: solid 2px;
}
.contenu-message {
  overflow: auto;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("http://www.basketusa.com/wp-content/uploads/2012/09/xoOxK.jpg");
  
}

.contact{
  overflow: auto;
  height: 500px;
  border: solid 2px;
}
.chat-input-holder {
  display: flex;
 
}
.p{
  font-size: 12px;
}
.chat-input {
  resize: none;
  padding: 5px 10px;
  height: 40px;
  font-size: 14px;
  color: black;
  flex: 1;
  background: rgba(0, 0, 0, .05);
}

