body  {
  color: grey;
  font-family: 'PT Sans';
}

footer {
  background-color: #CFF7DA;
}

footer img {
  opacity: 0.6;
}

footer img:hover {
  opacity: 1;
}

.logo{
  width: 100px;
  height: 100px;
}

.navbar {
  font-family: 'Amaranth';
}

.navbar > a {
  font-size: 40px;
  color: grey;
}

.competences {
  background-color: #CFF7DA;
}

.competences img {
  background-color: white;
  border-radius: 50px;
  padding: 10px;
}

.competences h3 {
  color: #00FE44;
}

h3 {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 40px;
  font-family: 'Amaranth';
  font-size: 40px;
}

.items {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.position > img {
  position: relative;
  width: 100%;
  height: 35vw;
}

.position > #searchbar {
  position: absolute;
  top: 70%;
  left: 40%;
  border: 5px solid black;
  border-radius: 15px;
  background-color: #C4C4C4;
  padding: 30px;
}

.giveman li {
  list-style: none;
  margin-bottom: 20px;
}

.giveman button {
  background-color: grey;
  border-color: grey;
  margin-bottom: 40px;
  margin-left: 25%;
}

.giveman button:hover {
  background-color: #C4C4C4;
  border-color: #C4C4C4;
  margin-bottom: 40px;
}

