
.container
{
  margin-top: 15px;
}
.p
{
  font-size: 15px;
}

/* CSS Contacts */
.contacts
{
  border-radius: 5px;
  overflow: auto;
  height: 500px;
  border: solid 2px;

}

.contact{
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);

}
.row-messagerie{
  width: 720px;
}

.form#sendMessage{
  width: 780px;
}

.contact .card-body{
  padding: 0;


}
.contact .card-body h4{
  padding: 1.25rem;
}

.contact:hover{
    background:#F1F1F1;
}
/*FIN CSS Contacts */

.contenu-message
{
  border-radius: 10px;
  overflow: auto;
  height: 500px;
  width: 720px;
  color: black;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}


/*Difference message recu et envoyer */

.envoie
{
  width: 300px;
  background: #B5E655;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

.recu
{
  width: 300px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #2BD3FD;
  border-radius: 15px;
}

/*Fin diff messages */

/*.contact .card-body h4.active
{
  background:white;
}
*/

/* Input message */
#sendMessage{
  margin-top: 10px;
  width: 720px;
}
.message-send{
  border-radius: 10px;
  width: 56px;

}
.chat-input
{
  border-radius: 10px;
  width: 659px;
  padding: 5px 10px;
  height: 40px;
  font-size: 14px;
  color: black;
  background: rgba(0, 0, 0, .05);
}
