
.container
{
  margin-top: 15px;
}

.envoie
{
  width: 300px;
  background: #7acd47;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

.recu
{
  width: 300px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #95c2fd;
  border-radius: 15px;
}

/*.messagerie{
  border: solid 2px;

}*/

.contenu-message
{
  overflow: auto;
  height: 500px;
  color: black;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),url("http://www.basketusa.com/wp-content/uploads/2012/09/xoOxK.jpg");
}

.contacts
{
  border-radius: 5px;
  overflow: auto;
  height: 500px;
  border: solid 2px;
}

.contact
{
  background:#E5E8E8;
}
.contact .card-body{
  padding: 0;
}
.contact .card-body h4{
  padding: 1.25rem;
}

.contact:hover{
    background:#F1F1F1;
}

/*.contact .card-body h4.active
{
  background:white;
}
*/

.chat-input-holder 
{
  display: flex;
}

.p
{
  font-size: 15px;
}

.chat-input
{
  resize: none;
  padding: 5px 10px;
  height: 40px;
  font-size: 14px;
  color: black;
  flex: 1;
  background: rgba(0, 0, 0, .05);
}
