body  {
  color: grey;
  font-family: 'PT Sans';
}


footer {
  background-color: #CFF7DA;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer img {
  padding-top: 30px;
  opacity: 0.5;
}

footer img:hover {
  opacity: 1;
}

footer p {
  padding-bottom: 3%;
}

.reseaux > .nav {
  margin: auto;
}

.logo{
  width: 100px;
  height: 100px;
}

.navbar {
  font-family: 'Amaranth';
  border-bottom: 5px solid #00FE44;
}

.navbar > a {
  font-size: 40px;
  color: grey;
}

.video {
  text-align: center;
  margin-bottom: 30px;
}

.competences {
  background-color: #CFF7DA;
}

.competences img {
  background-color: white;
  border-radius: 50px;
  padding: 10px;
}

.competences h3 {
  color: #00FE44;
}

.contactInfo img {
  margin-top: 30%;
  border-radius: 10%;
  margin-bottom: 2%;
}

.contactInfo a {
  background-color: #C4C4C4;
}

.givemanProfile h1{
  margin-bottom: 3%;
}

.givemanProfile img{
  margin-top: 75%;
}

h1 {
  text-align: center;
  font-family: 'Amaranth';
  font-size: 40px;
  margin-top: 2%;
}

h3 {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 40px;
  font-family: 'Amaranth';
  font-size: 40px;
}

h2 {
  text-align: center;
  font-family:'PT Sans';
  font-size: 30px;
  margin-top: 8%;
  margin-bottom: 3%;
}

.profil {
  text-align: center;
  font-family:'PT Sans';
  font-size: 30px;
  margin-top: 4%;
  margin-bottom: 2%;
  border-bottom: 2px solid #C4C4C4;
}
.nom {
  font-size: 20px;
}

.skills span {
  background-color: #00FE44;
  font-size: 15px;
  color: white;
  margin-right: 1%;
  margin-bottom: 3%;
}

.card {
  margin-bottom: 5%;
}

.contactInformations input {
  margin: 0 auto
}

.description textarea {
  margin-bottom: 5%;
}

.skills input {
  margin-bottom: 5%;
}

.items {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.position > img {
  position: relative;
  opacity: 0.6;
  border-bottom: 5px solid #00FE44;
  margin-bottom: 6%;
}

.position > #searchbar {
  position: absolute;
  top: 35%;
  left: 35%;
  background-image: linear-gradient(to right, white, #C4C4C4);
  border: 2px solid grey;
  box-shadow: 5px 10px 9px grey;
  padding: 30px 70px;
}

.autocomplete {
  display: flex;
}

.giveman ul {
  margin-bottom: 3%;
}

.giveman li {
  list-style: none;
  margin-bottom: 20px;
  font-family:'PT Sans';
  font-size: 20px;
}

.giveman .valeur1 {
  margin-left: 15%;
}

.giveman .valeur2 {
  margin-left: 16%;
}

.giveman .valeur3 {
  margin-left: 17%;
}

.giveman .valeur4 {
  margin-left: 18%;
}

.giveman .valeur5 {
  margin-left: 19%;
}

.giveman .valeur6 {
  margin-left: 20%;
}

.giveman li img  {
  margin-right: 1%;
}

.giveman button {
  background-color: grey;
  border-color: grey;
  margin-bottom: 40px;
  margin-left: 25%;
}

.giveman button:hover {
  background-color: #C4C4C4;
  border-color: #C4C4C4;
  margin-bottom: 40px;
}

#preview{
  width: 200px;
  display: inline-block;
}
#preview img{
  width: 100%;
}

.icons span {
  color: grey;
  padding:0 5px;
}

.icons{
  position:absolute;
  right: 20px;
}

.media {
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.media a {
  color:  #00FE44;
}

/* .bounceIn {
  animation-name: bounceIn;
} */


/* @-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
} */

.card-header {
  background-color: #C4C4C4;
  font-family:'PT Sans';
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 2%;
}
